/* ==== 
 --------- blue color scheme styles start ---------
 ==== */
:root {
  --base-bg: #134e8e;
  --base-color: #ffffff;
}

.base-img {
  -webkit-filter: brightness(0) saturate(100%) invert(25%) sepia(61%) saturate(1240%) hue-rotate(181deg) brightness(91%) contrast(90%);
          filter: brightness(0) saturate(100%) invert(25%) sepia(61%) saturate(1240%) hue-rotate(181deg) brightness(91%) contrast(90%);
}

/* ==== 
 --------- blue color scheme styles end ---------
 ==== */
