/* ==== 
 --------- default color scheme styles start ---------
 ==== */
:root {
  --base-bg: #932a19;
  --base-color: #ffffff;
}

.base-img {
  -webkit-filter: brightness(0) saturate(100%) invert(72%) sepia(84%) saturate(726%) hue-rotate(337deg) brightness(105%) contrast(101%);
          filter: brightness(0) saturate(100%) invert(72%) sepia(84%) saturate(726%) hue-rotate(337deg) brightness(105%) contrast(101%);
}

/* ==== 
 --------- default color scheme styles end ---------
 ==== */
